* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { font-family: monospace; }

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: #fff;

}

.item {
    width: 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: #fff;
    float: left;
}

.flex-container {
    display: flex;
    background: #f4f4f4;
}
