html {
    font-size: 22px;
}

main {
    font-family: monospace;
}
h1, h3 {
    color: blue;
}
p {
    color: purple;
}
.gray {
    color: gray;
}

#second {
    font-style: italic;
}

.highlight {
    text-transform: uppercase;
    color: gold;
}